.leftContainer {
  width: 100%;
  height: 100%;
}

.searchContainer {
  width: 94%;
  margin: 16px auto 16px;
}

.chatsContainer {
  width: 100%;
  overflow-y: auto;
}

/* .chatsContainer:hover::-webkit-scrollbar {
  display: block;
}

.chatsContainer::-webkit-scrollbar {
  display: none;
}

.chatsContainer::-webkit-scrollbar-thumb {
  height: 10%;
} */

/*  */
