.leftContainer {
  width: 100%;
  height: 100%;
}

.searchContainer {
  width: 94%;
  margin: 16px auto 16px;
}

.chatsContainer {
  width: 100%;
  overflow-y: auto;
}

/* .chatsContainer:hover::-webkit-scrollbar {
  display: block;
}

.chatsContainer::-webkit-scrollbar {
  display: none;
}

.chatsContainer::-webkit-scrollbar-thumb {
  height: 10%;
} */

.centerContainer {
  width: 100%;
  height: 100%;
}

.infoContainer,
.settingTitleContainer {
  height: 66px;
  border-bottom: 2px solid var(--gray-5);
}

.infoWrapper {
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 12px;
  height: 100%;
}

.avatar {
  width: 48px;
  height: 48px;
  background: var(--gradient-2);
  border-radius: 50%;
}

.chatInfo {
  gap: 12px;
}

.name {
  margin-bottom: -1px;
  color: var(--text-dark-3);
}

.accessState {
  margin-top: -1px;
  color: var(--gray-2);
}

.menuContainer {
  gap: 12px;
  justify-content: flex-end;
}

.btnDetailInfo,
.btnDetachFiles,
.btnUploadImages,
.btnAddEmoji,
.btnSendMessage {
  background: transparent;
  color: var(--primary-1);
  font-size: 22px;
  padding: 2px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.messagesContainer {
  flex: 1 1;
  align-items: flex-end;
  overflow-y: auto;
  margin: 18px 0;
  display: flex;
  align-items: flex-end;
}

.messagesWrapper {
  flex: 1 1;
  margin: 0 24px;
  height: fit-content;
  gap: 12px;
  justify-content: flex-end;
}

.messageRow {
  width: 100%;
  height: fit-content;
}

.inputContainer {
  height: auto;
}

.inputWrapper {
  gap: 18px;
  padding: 0 27px;
  margin-bottom: 16px;
  align-items: flex-end;
}

.inputMessageContainer {
  min-height: 38px;
  max-height: calc(14px + 24px * 3);
  flex-grow: 1;
  background: var(--gray-6);
  border-radius: 20px;
}

.inputMessageWrapper {
  flex-grow: 1;
  margin: 7px 18px;
  overflow-y: hidden;
  box-sizing: border-box;
  max-height: calc(14px + 24px * 3);
}

.inputMessage {
  max-height: calc(14px + 24px * 3 - 20px);
  margin: 0;
  padding: 0.1rem 0;
  overflow-y: auto;
  word-break: break-word;
  word-wrap: break-word;
}

.inputMessagePlaceholder {
  color: var(--gray-2);
}

.inputMessage:focus-visible {
  outline: none;
}

.rightContainer {
  height: 100%;
  width: 100%;
}

.settingTitle {
  color: var(--text-dark-2);
  margin: auto;
}

.settingContainer {
  flex: 1 1;
  overflow-y: auto;
}

/*  */
.subItemWrapper {
  height: 50px;
  padding-left: 24px;
  gap: 10px;
}

.subItemWrapper:hover {
  background-color: var(--gray-6);
}

.fileAndLinkWrapper {
  height: fit-content !important;
  padding: 0 !important;
}

.fileAndLinkWrapper:hover {
  background-color: unset !important;
  cursor: unset !important;
}

.itemName,
.icon {
  color: var(--text-dark-2);
}

.subSettingIcon {
  width: 18px;
  height: 18px;
}

.memberAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--gradient-2);
}

.memberInfo {
  display: flex;
  flex-direction: column;
}

.memberName {
  color: var(--text-dark-2);
}

.memberAddedBy {
  color: var(--gray-1);
}

.subNavContainer {
  margin: auto;
}

.pictureContainer {
  width: 100%;
}

.pictureWrapper {
  --block: 70px;
  --gap: 10px;
  margin: auto;
  max-width: calc(4 * var(--block) + 3 * var(--gap));
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap);
}

.pictureWrapper div {
  width: 70px;
  height: 70px;
  background: var(--gradient-2);
}
/*  */
