.labelContainer {
    margin-bottom: 8px;
    justify-content: space-between;
    flex-direction: row;
}

.input {
    padding: 0 16px;
    width: 410px;
    height: 42px;
    border-radius: 10px;
    background-color: var(--gray-6);
    box-sizing: border-box;
    /* caret-color: var(--primary-2); */
    font-family: var(--font-family);
}

.input:focus-visible {
    /* border: 2px solid var(--primary-2); */
    box-shadow: 0 0 4px 2px rgba(var(--primary-1-rgb), 0.7);
    background-color: #fff;
}



.input::placeholder{
    color: var(--gray-2);
    opacity: 1;
}

.helperText {
    white-space: pre-line;
    padding-top: 10px;
    color: var(--text-dark-2);
}