.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.friendsContainer {
    flex: 1 1;
    overflow-y: auto;
    overflow-x: hidden
}

.friendsWrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 3px 24px 14px;
}

.searchContainer {
    padding: 16px 24px 0;
}