.container {
    min-width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px var(--gray-4);
    text-align: left;
    position: relative;
    z-index: 501;
}

.wrapper {
    margin: 0 8px;
    padding: 8px 0;
}

.wrapper ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.backdropTransparent {
    position: fixed;
    inset: 0;
    z-index: 500;
    opacity: 0;
}