.container {
    background-color: var(--gray-5);
    position: fixed;
    inset: 0;
    color: var(--text-dark-2);
}

.inputFlexGap{
    gap: 16px;
}

.buttonContainer{
    flex-direction: column;
    margin-top: 10px;
    gap: 12px;
}