.itemContainer {
    height: fit-content;
    overflow-y: auto;
}

.itemWrapper {
    height: 50px;
    justify-content: space-between;
    padding: 0 12px;
}

.itemWrapper:hover {
    background-color: var(--gray-6);
}

.itemName, .icon {
    color: var(--text-dark-2);
}
